* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  z-index: 10000;
}
.header .menu {
  display: flex;
  align-items: center;
}
.header .menu ul {
  display: flex;
  align-items: center;
  margin-left: 280px;
}
.header .menu li {
  list-style: none;
  margin-right: 20px;
}
.header .menu li a {
  text-decoration: none;
  color: #3a3a3a;
  font-size: 14px;
  font-weight: 600;
  transition: 0.3s;
}
.header .menu li a:hover {
  color: #000;
  transition: 0.8s;
}
.header .menu .btn .btn__sing {
  margin: 10px;
  width: 102px;
  height: 43px;
  top: 19px;
  left: 964px;
  gap: 0px;
  opacity: 0px;
  border-radius: 5px;
  border: 1px solid #BCD0E5;
}
.header .menu .btn .btn__sing:hover {
  background: #02897A;
  color: #fff;
  transition: 0.3s;
}

.card__1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 200px;
}
.card__1 .child__2 img {
  width: 580.45px;
  height: 500.72px;
  top: 105px;
  left: 644.55px;
  gap: 0px;
  border: 1px 0px 0px 0px;
  opacity: 0px;
}
.card__1 .child__1 h1 {
  width: 527.02px;
  height: 120px;
  top: 225px;
  left: 145px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins, sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 60px;
  text-align: left;
  color: #22343D;
}
.card__1 .child__1 p {
  margin-top: 20px;
  width: 465.98px;
  height: 95px;
  top: 363px;
  left: 145px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins, sans-serif;
  font-size: 18px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  color: #22343D;
}
.card__1 .child__1 .btn__child__1 {
  margin-top: 40px;
}
.card__1 .child__1 .btn__child__1 .btn__get {
  width: 178.05px;
  height: 53px;
  gap: 0px;
  opacity: 0px;
  border-radius: 5px;
  border: 1px solid #02897A;
}
.card__1 .child__1 .btn__child__1 .btn__get:hover {
  width: 178.05px;
  height: 53px;
  gap: 0px;
  color: white;
  transition: 0.8s;
  opacity: 0px;
  cursor: pointer;
  border-radius: 5px;
  border: 1px solid #02897A;
  background-color: #02897A;
}
.card__1 .child__1 .btn__child__1 .btn__img {
  margin-left: 40px;
  align-items: center;
  border: none;
  color: #02897A;
  background-color: #fff;
  font-family: Poppins, sans-serif;
  -webkit-text-emphasis: inherit;
          text-emphasis: inherit;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}
.card__1 .child__1 .btn__child__1 .btn__img img {
  margin-top: 20px;
  margin-right: 15px;
}

.card__2 {
  padding-bottom: 100px;
  background: linear-gradient(0deg, #EDEDED 0.35%, rgba(255, 255, 255, 0.0001) 99.63%);
}
.card__2 h2 {
  margin-left: 300px;
  margin-top: 70px;
  text-align: center;
  width: 539px;
  height: 96px;
  left: 845px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 48px;
  text-align: center;
}
.card__2 .blok {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__2 .blok .blok__card {
  width: 240px;
  height: 178px;
  top: 162px;
  left: 553px;
  gap: 0px;
  opacity: 0px;
}
.card__2 h6 {
  margin-top: 10px;
  width: 192px;
  height: 33px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins, sans-serif;
  font-size: 22px;
  font-weight: 600;
  line-height: 33px;
  text-align: left;
  color: #22343D;
}
.card__2 p {
  margin-top: 20px;
  width: 240px;
  height: 78px;
  top: 46px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  color: #22343D;
}
.card__2 .up {
  margin-left: 500px;
  margin-top: 50px;
  width: 175px;
  height: 53px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins, sans-serif;
  border: 2px solid #02897A;
  border-radius: 10px;
}
.card__2 .up:hover {
  margin: left 500px;
  margin-top: 50px;
  width: 175px;
  height: 53px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins, sans-serif;
  border: 2px solid #02897A;
  border-radius: 10px;
  background-color: #02897A;
  transition: 0.8s;
  cursor: pointer;
  box-shadow: 0px 0px 10px 10px rgb(154, 224, 215);
}

.card__3 {
  margin-top: 100px;
}
.card__3 h2 {
  text-align: center;
  margin-left: 400px;
  width: 349.79px;
  height: 51px;
  top: 1357px;
  left: 525px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins, sans-serif;
  font-size: 34px;
  font-weight: 700;
  line-height: 51px;
  text-align: left;
  color: #22343D;
}
.card__3 p {
  margin-top: 10px;
  height: 26px;
  top: 1416px;
  left: 353px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: left;
  color: #22343D;
  margin-left: 250px;
}
.card__3 .blok__up {
  margin-top: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card__3 .blok__up .blok__card {
  cursor: pointer;
  border: 1px solid #b1b4b6;
  border-radius: 10px;
  height: 360px;
}
.card__3 .blok__up .blok__card .titel {
  margin-top: 10px;
  margin-left: 20px;
  width: 231.52px;
  height: 28px;
  top: 209px;
  left: 24.05px;
  gap: 0px;
  opacity: 0px;
}
.card__3 .blok__up .blok__card h3 {
  margin-top: 20px;
  margin-left: 20px;
  width: 294.66px;
  height: 70px;
  top: 249px;
  left: 24.05px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
  color: #22343D;
}
.card__3 .blok__up .blok__card h3:hover {
  margin-top: 20px;
  margin-left: 20px;
  width: 294.66px;
  height: 70px;
  top: 249px;
  left: 24.05px;
  gap: 0px;
  cursor: pointer;
  color: #02897A;
  opacity: 0px;
  font-family: Poppins, sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 40px;
  text-align: left;
}

.card__4 {
  margin-top: 100px;
}
.card__4 .text {
  margin-top: 20px;
  text-align: center;
  margin-left: 450px;
  width: 349.79px;
  height: 51px;
  top: 1357px;
  left: 525px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins, sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 51px;
  text-align: left;
  color: #22343D;
}
.card__4 .titel {
  margin-top: 10px;
  margin-right: 260px;
  height: 26px;
  top: 1416px;
  left: 353px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  color: #22343D;
  margin-left: 250px;
}
.card__4 .blok__card__4 {
  margin-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-align: center;
}
.card__4 .blok__card__4 .blok {
  width: 323.04px;
  height: 400px;
  top: 2084px;
  left: 931.96px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  border: 1px solid #b1b4b6;
  background: #FFFFFF;
  cursor: pointer;
}
.card__4 .blok__card__4 .blok button {
  margin-top: 20px;
  width: 139px;
  height: 44px;
  top: 380px;
  left: 92px;
  padding: 11px;
  gap: 0px;
  color: white;
  border-radius: 8px;
  opacity: 0px;
  background: #02897A;
}
.card__4 .blok__card__4 .blok p {
  margin-top: 20px;
}
.card__4 .blok__card__4 .blok .mani {
  margin-left: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.card__4 .blok__card__4 .blok .mani h1 {
  width: 79px;
  height: 100px;
  top: 128px;
  left: 70px;
  gap: 0px;
  opacity: 0px;
  color: #02897A;
  font-family: Poppins, sans-serif;
  font-size: 76px;
  font-weight: 800;
  line-height: 100px;
  letter-spacing: 0.200000003px;
  text-align: center;
}
.card__4 .blok__card__4 .blok .mani .jud {
  margin-left: 20px;
}
.card__4 .blok__card__4 .blok:hover {
  color: white;
  width: 323.04px;
  height: 400px;
  top: 2084px;
  left: 931.96px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
  transition: 0.8s;
  background: #02897A;
  box-shadow: 0px 0px 10px 10px #3a3a3a;
}
.card__4 .blok__card__4 .blok:hover button {
  margin-top: 20px;
  width: 139px;
  height: 44px;
  top: 380px;
  left: 92px;
  padding: 11px;
  gap: 0px;
  color: rgb(29, 224, 150);
  border-radius: 8px;
  opacity: 0px;
  transition: 0.8s;
  background: #ffffff;
}
.card__4 .blok__card__4 .blok:hover p {
  margin-top: 20px;
}
.card__4 .blok__card__4 .blok:hover .mani {
  margin-left: 50px;
  margin-top: 20px;
  display: flex;
  align-items: center;
}
.card__4 .blok__card__4 .blok:hover .mani h1 {
  width: 79px;
  height: 100px;
  top: 128px;
  left: 70px;
  gap: 0px;
  opacity: 0px;
  color: #ffffff;
  font-family: Poppins, sans-serif;
  font-size: 76px;
  font-weight: 800;
  line-height: 100px;
  letter-spacing: 0.200000003px;
  text-align: center;
}
.card__4 .blok__card__4 .blok:hover .mani .jud {
  margin-left: 20px;
}

.card__5 {
  margin-top: 100px;
  text-align: center;
}
.card__5 h2 {
  font-family: Poppins, sans-serif;
  font-size: 34px;
  font-weight: 800;
  line-height: 57px;
  color: #22343D;
}
.card__5 p {
  margin-top: 20px;
}
.card__5 .blok__img {
  margin-top: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer {
  height: 400px;
}

.card__6 {
  margin-top: 150px;
  display: flex;
  justify-content: space-between;
  width: 1110px;
  height: 345px;
  top: 3254px;
  left: 137px;
  gap: 0px;
  border-radius: 32px;
  opacity: 0px;
  background-color: #02897A;
  color: white;
}
.card__6 .blok__1 h4 {
  margin-top: 50px;
  margin-left: 40px;
  width: 510px;
  height: 92px;
  top: 49px;
  left: 51px;
  gap: 0px;
  opacity: 0px;
  font-family: Poppins, sans-serif;
  font-size: 32px;
  font-weight: 600;
  line-height: 48.45px;
  text-align: left;
}
.card__6 .blok__1 button {
  margin-top: 100px;
  margin-left: 40px;
  width: 150px;
  color: #02897A;
  height: 50px;
  top: 239px;
  left: 51px;
  padding: 13px 35px 7px 33px;
  gap: 0px;
  border-radius: 8px;
  opacity: 0px;
}